<div id="facturacion">
    <form action="" id="buscar" style="margin-top: 10px;">
        <input type="text" name="codigo" id="codigo">
        <input type="submit" value="Buscar">
      </form>

      <table border="1">*
          <thead>
              <tr>
                  <th>Cod. Barra</th>
                  <th>Nombre</th>
                  <th>Precio</th>
                  <th>Cantidad</th>
                  <th>Importe</th>
                  <th>
                      <button id = "guardar-factura">Guardar</button>
                  </th>
              </tr>
          </thead>
          <tbody id="cuerpoFactura">
            
          </tbody>
      </table>
      <div id="totalFactura">
        0.00
      </div>
      <!-- ESTILOS PARA LA FACTURACION -->
      <style>
          table{
              width: 80vw;
          }
          table th{
              padding: 10px;
              color: white;
              background-color: rgb(189, 120, 41);
          }
          #totalFactura{
              width: 80vw;
              text-align: end;
              font-size: 2rem;
              font-weight: 400;
          }
      </style>
</div>