<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">Crear categoria</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <form>
                <div class="form-group row">
                    <label for="inputCliente" class="col-xs- col-form-label" style="margin: 12px;">Nombre</label>
                    <div class="col-sm-9">
                      <input type="text" class="form-control" id="nombre" placeholder="Nombre">
                    </div>
                  </div>
                  <div class="form-group row">
                    <label for="inputCliente" class="col-xs-2 col-form-label">Descripcion</label>
                    <div class="col-sm-9">
                      <input type="text" class="form-control" id="descripcion" placeholder="Nombre">
                    </div>
                  </div>
                  <div class="form-group">
                    <button type="button" class="btn btn-primary btn-xs col-4" style="height: 10%; top: 5px; float: left;">Nuevo</button>
                    <button type="button" class="btn btn-primary btn-xs col-3" style="height: 10%; top: 5px; margin-right: 2px;">Guardar</button>
                    <button type="button" class="btn btn-warning btn-xs col-4" style="height: 10%; top: 5px;">Actualizar</button>
                  </div>
                 
              </form>
              <form class="navbar-search navbar-search-light form-inline mr-sm-3" id="navbar-search-main">
                <div class="form-group mb-0">
                  <div class="input-group input-group-alternative input-group-merge">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="fas fa-search"></i></span>
                    </div>
                    <input class="form-control" placeholder="Buscar..." type="text">
                  </div>
                </div>
                <button type="button" class="close" data-action="search-close" data-target="#navbar-search-main" aria-label="Close">
                  <span aria-hidden="true">×</span>
                </button>
              </form>  
        </div>
        <table class="table">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">First</th>
              <th scope="col">Last</th>
              <th scope="col">Handle</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">1</th>
              <td>Mark</td>
              <td>Otto</td>
              <td>@mdo</td>
            </tr>
            
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <div class="modal fade" id="exampleModalCenterone" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">Crear Marca</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <form>
                <div class="form-group row">
                    <label for="inputCliente" class="col-xs-6 col-form-label" style="margin: 12px;">Nombre</label>
                    <div class="col-sm-8">
                      <input type="text" class="form-control" id="cliete" placeholder="Nombre">
                    </div>
                  </div>
                  <div class="form-group row">
                    <label for="inputCliente" class="col-xs-2 col-form-label">Descripcion</label>
                    <div class="col-sm-8">
                      <input type="text" class="form-control" id="cliete" placeholder="Nombre">
                    </div>
                  </div>
                  <div class="form-group">
                    <button type="button" class="btn btn-primary btn-xs" style="height: 10%; top: 5px; float: left;">Nuevo</button>
                    <button type="button" class="btn btn-primary btn-xs" style="height: 10%; top: 5px;">Guardar</button>
                    <button type="button" class="btn btn-warning btn-xs" style="height: 10%; top: 5px;">Actualizar</button>
                  </div>
                 
              </form>
              <form class="navbar-search navbar-search-light form-inline mr-sm-3" id="navbar-search-main">
                <div class="form-group mb-0">
                  <div class="input-group input-group-alternative input-group-merge">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="fas fa-search"></i></span>
                    </div>
                    <input class="form-control" placeholder="Buscar..." type="text">
                  </div>
                </div>
                <button type="button" class="close" data-action="search-close" data-target="#navbar-search-main" aria-label="Close">
                  <span aria-hidden="true">×</span>
                </button>
              </form>
        </div>
      </div>
    </div>
  </div>
  <div class="modal fade" id="exampleModalCenteronetwo" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">Productos bajos en stock</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <form>
                <div class="form-group row">
                    <label for="inputCliente" class="col-xs-6 col-form-label" style="margin: 12px;">Nombre</label>
                    <div class="col-sm-8">
                      <input type="text" class="form-control" id="cliete" placeholder="Nombre">
                    </div>
                  </div>
                  <div class="form-group row">
                    <label for="inputCliente" class="col-xs-2 col-form-label">Descripcion</label>
                    <div class="col-sm-8">
                      <input type="text" class="form-control" id="cliete" placeholder="Nombre">
                    </div>
                  </div>
                  <div class="form-group">
                    <button type="button" class="btn btn-primary btn-xs" style="height: 10%; top: 5px; float: left;">Nuevo</button>
                    <button type="button" class="btn btn-primary btn-xs" style="height: 10%; top: 5px;">Guardar</button>
                    <button type="button" class="btn btn-warning btn-xs" style="height: 10%; top: 5px;">Actualizar</button>
                  </div>
                 
              </form>
              <form class="navbar-search navbar-search-light form-inline mr-sm-3" id="navbar-search-main">
                <div class="form-group mb-0">
                  <div class="input-group input-group-alternative input-group-merge">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="fas fa-search"></i></span>
                    </div>
                    <input class="form-control" placeholder="Buscar..." type="text">
                  </div>
                </div>
                <button type="button" class="close" data-action="search-close" data-target="#navbar-search-main" aria-label="Close">
                  <span aria-hidden="true">×</span>
                </button>
              </form>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="exampleModalCenterthree" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">Verificacion de productos vencidos</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <form>
                <div class="form-group row">
                    <label for="inputCliente" class="col-xs-6 col-form-label" style="margin: 12px;">Nombre</label>
                    <div class="col-sm-8">
                      <input type="text" class="form-control" id="cliete" placeholder="Nombre">
                    </div>
                  </div>
                  <div class="form-group row">
                    <label for="inputCliente" class="col-xs-2 col-form-label">Descripcion</label>
                    <div class="col-sm-8">
                      <input type="text" class="form-control" id="cliete" placeholder="Nombre">
                    </div>
                  </div>
                  <div class="form-group">
                    <button type="button" class="btn btn-primary btn-xs" style="height: 10%; top: 5px; float: left;">Nuevo</button>
                    <button type="button" class="btn btn-primary btn-xs" style="height: 10%; top: 5px;">Guardar</button>
                    <button type="button" class="btn btn-warning btn-xs" style="height: 10%; top: 5px;">Actualizar</button>
                  </div>
                 
              </form>
              <form class="navbar-search navbar-search-light form-inline mr-sm-3" id="navbar-search-main">
                <div class="form-group mb-0">
                  <div class="input-group input-group-alternative input-group-merge">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="fas fa-search"></i></span>
                    </div>
                    <input class="form-control" placeholder="Buscar..." type="text">
                  </div>
                </div>
                <button type="button" class="close" data-action="search-close" data-target="#navbar-search-main" aria-label="Close">
                  <span aria-hidden="true">×</span>
                </button>
              </form>
        </div>
      </div>
    </div>
  </div>
  <div class="modal fade" id="exampleModalCenterfour" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">Generador de codigo de barra</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <form>
                <div class="form-group row">
                    <label for="inputCliente" class="col-xs-6 col-form-label" style="margin: 12px;">Nombre</label>
                    <div class="col-sm-8">
                      <input type="text" class="form-control" id="cliete" placeholder="Nombre">
                    </div>
                  </div>
                  <div class="form-group row">
                    <label for="inputCliente" class="col-xs-2 col-form-label">Descripcion</label>
                    <div class="col-sm-8">
                      <input type="text" class="form-control" id="cliete" placeholder="Nombre">
                    </div>
                  </div>
                  <div class="form-group">
                    <button type="button" class="btn btn-primary btn-xs" style="height: 10%; top: 5px; float: left;">Nuevo</button>
                    <button type="button" class="btn btn-primary btn-xs" style="height: 10%; top: 5px;">Guardar</button>
                    <button type="button" class="btn btn-warning btn-xs" style="height: 10%; top: 5px;">Actualizar</button>
                  </div>
                 
              </form>
              <form class="navbar-search navbar-search-light form-inline mr-sm-3" id="navbar-search-main">
                <div class="form-group mb-0">
                  <div class="input-group input-group-alternative input-group-merge">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="fas fa-search"></i></span>
                    </div>
                    <input class="form-control" placeholder="Buscar..." type="text">
                  </div>
                </div>
                <button type="button" class="close" data-action="search-close" data-target="#navbar-search-main" aria-label="Close">
                  <span aria-hidden="true">×</span>
                </button>
              </form>    
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-outline-light">Guardar Cambio</button>
          </div>
      </div>
    </div>
  </div>